@using System.Reflection
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Routing

@namespace MDP.BlazorCore
@code {

    // Fields
    private string _currentPath = null;


    // Properties
    [Inject]
    public RoutesOptions RoutesOptions { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }


    // Methods
    protected override void OnInitialized()
    {
        // Default
        _currentPath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }
}

<Router AppAssembly="@RoutesOptions.CreateAppAssembly()" AdditionalAssemblies="@RoutesOptions.CreateAdditionalAssemblies()">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@RoutesOptions.DefaultLayout" Resource="@NavigationManager">
            <Authorizing>
                <div class="mdp-processer">
                    <div class="spinner-border"></div>
                    <div class="title">Loading</div>
                </div>
            </Authorizing>
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(MDP.BlazorCore.EmptyLayout)">
            <div class="mdp-processer">
                <div class="error">此頁面不存在，請稍後再試或聯絡系統管理員</div>
                <div class="action-group">

                    <!-- home -->
                    <form action="/" method="get">
                        <input class="btn btn-secondary" type="submit" value="回到首頁" />
                    </form>

                    <!-- refresh -->
                    <form action="@(_currentPath)" method="get">
                        <input class="btn btn-primary" type="submit" value="重新整理" />
                    </form>
                </div>
                <div class="detail">@($"錯誤頁面：{_currentPath}")</div>
            </div>
        </LayoutView>
    </NotFound>
</Router>